.headercls{
    color:black;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: pink;
    font-size:xx-large;
    /* box-shadow: 100px 100px 1000px lightskyblue; */
    box-shadow: 0px 10px 15px lightskyblue;
    border: 3px solid lightskyblue;
}
.custom-row1{
    width: 100%;
    height: fit-content;
    margin-left: 2%;
    
}
.custom-col1{
    font-size: 0.9rem;
    display: flex;
  
  background-color: white;
  align-items: center;
  justify-content: center;
  border: 3px solid pink; 
  color: black;
  
  font-weight: 500;
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.col-margin{
    margin-right: 5%
}
.custom-grid1{
    width: 100%;
    height: auto;
    margin-top: 10%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.box-image {
    width: 100%;
    height: 100%; 
    
  }
  
  .medblock{
    margin-top: 10%;
  }

  .medblock,.genblock{
    margin-bottom: 5%;
   
    display: flex;
    justify-content: center;
  }
  .footer{
    /* margin-top: 10%; */
    color: black;
    height: 10%;
    background-color:pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 650;
    
  }