.headercls{
    color:black;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: pink;
    font-size:xx-large;
    box-shadow: 100px 100px 1000px lightskyblue;
    border: 2px solid lightskyblue;
}
.form-buttons ,.form-button2{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px
  }

  .footer {
    color: black;
    height: 10%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
    
  }
 /* .itemcls{
    margin-top: 15px;
    --background:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 } */
.itemcls{
    display: flex;
    position: relative;
    flex-grow: 1;
}
 .titles{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
 }
 .titles{
    border: 2px solid black;
 }
 .tablecol{
    border: 2px solid black;
    width: 10%;
    
 }